Package: ryder.trollfools
Name: TrollFools
Version: 0.0.1
Section: Applications
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: energyRYDER
Maintainer: energyRYDER
Description: Donatee cho thầyyyyy.
